<nav class="navbar navbar-dark bg-violet-900">
    <div class="container-fluid">
      <a class="ms-4 text-lg font-mono text-white font-bold" href="#">CRUD DE PRODUCTOS</a>
      <div class="justify-end">
      <button mat-raised-button color="primary" *ngIf="!isLoggedIn()" class="mr-2" type="button" routerLink="/login" >Login</button>
      <button mat-raised-button color="warn" *ngIf="isLoggedIn()" class="mr-2" type="button" (click)="logOut()" >Logout</button>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarColor01"></div>
      </div>
  </nav>