<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1 place-content-center">
  <div class="w-72 md:w-1/2 flex flex-row">
        <mat-card>
            <mat-card-header class="md:place-content-center">
                <mat-card-title>{{ operation }} Producto</mat-card-title>
            </mat-card-header>
            <mat-card-content class="md:columns-2"><form [formGroup]="form" (ngSubmit)="addProduct()">
                <mat-form-field class="basis-1/2" appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input formControlName="name" type="text" matInput>
                </mat-form-field>
                <p><span
                  *ngIf="
                    form.get('name')?.hasError('required') &&
                    form.get('name')?.touched
                  "
                >
                  Campo <strong>requerido</strong>
                </span>
              </p>
              <mat-form-field class="basis-1/2" appearance="fill">
                  <mat-label>Descripcion</mat-label>
                  <input formControlName="description" type="text" matInput>
                </mat-form-field>
                <p>
                <span
                  *ngIf="
                    form.get('description')?.hasError('required') &&
                    form.get('description')?.touched
                  "
                >
                  Campo <strong>requerido</strong>
                </span>
              </p>
              <mat-form-field appearance="fill">
                  <mat-label>Precio</mat-label>
                  <input formControlName="price" type="number" matInput>
                </mat-form-field>
                <p>
                <span
                  *ngIf="
                    form.get('price')?.hasError('required') &&
                    form.get('price')?.touched
                  "
                >
                  Campo <strong>requerido</strong>
                </span>
                </p>
                <mat-form-field  color="primary" appearance="fill">
                  <mat-label>Stock</mat-label>
                  <input formControlName="stock" type="number" matInput>
                </mat-form-field>
                <p>
                <span
                  *ngIf="
                    form.get('stock')?.hasError('required') &&
                    form.get('stock')?.touched
                  "
                >
                  Campo <strong>requerido</strong>
                </span>
                </p>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Seleccionar tipo</mat-label>
                  <mat-select formControlName="type" type="text">
                    <mat-option value="Almacen">Almacen</mat-option>
                    <mat-option value="Limpieza">Limpieza</mat-option>
                    <mat-option value="Bazar">Bazar</mat-option>
                    <mat-option value="Otros">Otros</mat-option>
                  </mat-select>
                </mat-form-field>
                <p>
                  <span
                    *ngIf="
                      form.get('type')?.hasError('required') &&
                      form.get('type')?.touched
                    "
                  >
                    Campo <strong>requerido</strong>
                  </span>
                  </p>
                  <mat-form-field appearance="fill">
                    <mat-label>Publicar en:</mat-label>
                    <mat-select formControlName="postOn" multiple>
                      <mat-option *ngFor="let post of postOn" [value]="post">{{post}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <p>
                    <mat-slide-toggle formControlName="hide">Ocultar</mat-slide-toggle>
                  </p>
                  <mat-form-field appearance="fill">
                    <mat-label>Vencimiento</mat-label>
                    <input  formControlName="dueDate" matInput [matDatepicker] ="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Observaciones</mat-label>
                  <textarea matInput formControlName="obs" type="text"></textarea>
                </mat-form-field>
                
                <div class="columns-2 md:float-left">
                  <div class="">
                    <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Aceptar</button>
                  </div>
                  <div class="">
                    <button mat-raised-button color="warn" type="button" routerLink="/">Volver</button>
        
                  </div>
                </div>
              </form></mat-card-content>
          </mat-card>
  </div>
</div>